/* Use box-sizing: border-box; in order to put borders inside? */


/* Phones */
@media only screen and (max-width: 600px)
{

}
/* Large phones etc. */
@media only screen and (min-width: 600px)
{

}
/* Tablets */
@media only screen and (min-width: 768px)
{

}
/* Laptops etc. */
@media only screen and (min-width: 992px)
{

}
/* Desktops etc. */
@media only screen and (min-width: 1200px)
{
    
}






body
{
    margin: 0;
    padding: 0;

    background-color: white;

    font-family: "Georgia", "Bitter", "Roboto", "Avenir", "Montserrat";
}

p
{
    color: #373737;
}

li
{
    color: #373737;
}

h1
{
    font-size: 3em;
    font-weight: 400;
    text-decoration: underline;
    
    text-align: center;
    margin: 0;
    padding-top: 32px;
}

h2
{
    font-weight: 400;
    font-size: 2em;
}

#subtitle
{
    font-size: 1.75em;
    font-weight: 100;

    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
}

.navbar li .active
{
    color: #20CE88;
}

.navbar li .inactive
{
    color: #373737;
}

.header
{
    margin: auto;
    padding: 32px 0 32px 0;

    height: 196px;

    background-color: #3782ED;
}

.header-content
{
    width: 80%;
    margin: auto;

    border-radius: 32px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    background-color: white;
}

.header-bar
{
    margin: 8px auto;
    padding: 0;
    outline: none;
}

.navbar
{
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
}
.navbar li
{
    position: relative;
    display: inline;
}
.navbar a
{
    display: inline-block;
    padding: 10px;

    font-family: "Century Gothic", "Ebrima", "Impact", "Arial Black", "Arial";
    font-size: 1.25em;
    font-weight: 700;
    /* color: #20CE88; */
    text-decoration: none;
}
.navbar li:hover a
{
    /* background-color: #373737; */
    background-color: rgb(235, 235, 235);
}
.navbar li ul
{
    position: absolute;
    left: 0px;
    display: none;
    
    margin: auto;
    padding: 0;

    text-align: left;

}
.navbar li:hover ul
{
    display: block;
}
.navbar li ul li a
{
    width: 100%;
    
    border: 1px solid #373737;
    border-width: 1px 0;
    
    color: #373737;
    background-color: white;
}
.navbar li ul li:hover a
{
    background-color: white;
    color: #20CE88;
}

.footer
{
    margin: auto;
    padding: 16px 0;

    height: 64px;

    background-color: #3782ED;

    text-align: center;
}

.footer p
{
    margin: 8px;
}
.footer ul
{
    list-style: none;
    margin: auto;
}
.footer ul li
{
    position: relative;
    display: inline-block;
    margin: 0 32px;
    font-size: 1em;
}
.icon-links
{
    font-size: 1.5em;
    color: white;
}

.base
{
    height: 100%;
    width: 80%;
    margin: auto;

    background-color: white;
}

.content
{
    height: 100%;
    width: 80%;

    padding-top: 32px;
    padding-bottom: 32px;

    padding-left: 10%;
    padding-right: 10%;

    background-color: white;
}

#selfie
{
    float: right;
    margin: 92px 16px 16px 16px;
    
    width: 200px;
    height: 266px;
}









.box-info
{
    margin: 20px;
    padding: 10px;

    background-color: #E3E9F0;
    border-radius: 20px;
    border: 4px solid coral;

    text-align: center;
}

.gallery
{
    margin: 0 20px;
    padding: 0 20px;
    background-color: white;
    display: table-cell;
    text-align: center;
}

.gallery-content
{
    margin: 5px;

    position: relative;

    float: left;
    width: 180px;

    outline: none;

    transition: color 0.2s ease-out;
    --webkit-transition: color 0.2s;
    --moz-transition: color 0.2s;
}
.gallery-content img
{
    width: 180px;
    height: 180px;
    display: block;

    margin: 0 auto;
    /* vertical-align: middle; */

    transition: opacity 0.2s ease-out;
    --webkit-transition: opacity 0.2s ease-out;
    --moz-transition: opacity 0.2s ease-out;
}

.gallery-content:hover
{
    color: #A8A8A8;
}
.gallery-content img:hover
{
    opacity: .7;
}
.gallery-content .img-container
{
    width: 180px;
    height: 180px;
}